<IfModule authz_core_module>
	<Files ~ "\.(htaccess|csv)$">
		Require all denied
	</Files>
</IfModule>

<IfModule !authz_core_module>
	<Files ~ "\.(htaccess|csv)$">
		Deny from all
	</Files>
</IfModule>